@import "../styles/animations.scss";
@import "../styles/mixins.scss";

.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  color: var(--white);
  background-color: var(--background);
  border-top: 0.01px solid transparent;

  .title {
    top: 40%;
    left: 50%;
    font-weight: 900;
    position: absolute;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    font-size: var(--title-font-size);

    .change {
      display: inline-block;
      @include transformToGradient;
      background-image: url("../public/images/gradients/gradient-2.jpg") !important;
    }
  }

  .subtitle {
    top: 50%;
    left: 50%;
    font-weight: 300;
    font-size: 2.4rem;
    position: absolute;
    letter-spacing: 1rem;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
  }

  .godown {
    &_icon {
      top: 80%;
      font-size: 3rem;
      position: absolute;
    }
  }
}
