@import '../../../styles/mixins.scss';

.container {
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  padding: 4rem;
  position: fixed;
  overflow-y: auto;
  z-index: 99999999999;
  border: 4px solid white;
  transform: translate(-50%, -50%);
  background-color: var(--background);

  .profileWrapper {
    width: 100%;
    display: flex;
    margin-top: 4rem;
    justify-content: center;

    .profilePicture {
      margin: 0 auto;
    }
  }

  .title {
    color: white;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    @include transformToGradient;
  }

  .form {
    & > *:first-child {
      margin-top: 6rem;
    }

    .group {
      display: flex;
      margin-bottom: 2rem;
      flex-direction: column;

      &__label {
        color: white;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 0.8rem;
        text-transform: uppercase;
      }

      &__input {
        width: 100%;
        height: 4rem;
        border: none;
        outline: none;
        border-radius: 1rem;
        padding: 2.3rem 1.5rem;
        border: transparent 2px solid;
        transition: all 0.3s ease-in-out;

        &:focus,
        &:active {
          border: var(--boards) 2px solid;
        }
      }
    }

    .btns {
      margin: 0 auto;
      margin-top: 6rem;
      text-align: center;

      .signup {
        margin: 0 auto;
      }

      .switch {
        color: white;
        margin-top: 3rem;

        &_btn {
          color: var(--teamwork);
        }
      }
    }
  }
}
