.container {
  width: 100%;
  height: 100vh;

  .profile {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    filter: var(--drop-shadow-normal);
    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
    background-image: var(--background-gradient);

    &Info {
      display: flex;
      color: white;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .name {
        margin-top: 2rem;
      }
    }

    .item {
      width: 4rem;
      height: 4rem;
      display: flex;
      color: black;
      cursor: pointer;
      font-size: 2rem;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background-color: white;
      filter: var(--drop-shadow-small);
    }
  }
}
