.container {
  width: 20rem;
  height: 20rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  background-image: var(--orange-juice);

  .title {
    color: white;
    font-size: 2rem;
    margin-left: 0.5rem;
  }

  .icon {
    &__inner {
      right: 0;
      bottom: 5%;
      color: white;
      font-size: 13rem;
      position: absolute;
    }
  }
}
