:root {
  // Specials
  --logo-font-size: 5.2rem;
  --title-font-size: 10rem;

  // Colors
  --white: #fff;
  --background: #252235;
  --footer: #1a1423;

  --teamwork: rgba(30, 144, 255, 1);
  --projects: rgba(255, 165, 2, 1);
  --boards: rgba(255, 131, 123, 1);

  // Gradients
  --background-gradient: linear-gradient(to bottom right, #252235, #2e2e3e);
  --primary-gradient: linear-gradient(to bottom right, #6fccf4, #0760f3);
  --sunny-morning: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  --malibu-beach: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

  // Fonts
  --default-font-size: 2.4rem;
  --heading-font-size: 2.4rem;
  --small-font-size: 1.2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: var(--default-font-size);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
