@import './responsiveness.scss';

:root {
  // Specials
  --logo-font-size: 5.2rem;
  --title-font-size: 9rem;
  --subtitle-font-size: 7rem;

  // Colors
  --white: #fff;
  --footer: #1a1423;
  --background: #252235;
  --font-color: #212529;

  --teamwork: rgba(30, 144, 255, 1);
  --projects: rgba(255, 165, 2, 1);
  --boards: rgba(255, 131, 123, 1);

  // Gradients
  // --background-gradient: linear-gradient(to bottom right, #252235, #2e2e3e);
  --primary-gradient: linear-gradient(to bottom right, #6fccf4, #0760f3);
  --sunny-morning: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  --love-kiss: linear-gradient(to left top, #ff0844 0%, #ffb199 100%);
  --happy-fisher: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  --child-care: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  --orange-juice: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  --background-gradient: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  --cloudy-knox: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  // Shadow
  --drop-shadow-small: drop-shadow(0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.3));
  --drop-shadow-normal: drop-shadow(0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.3));
  --optimized-box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.065), 0 2px 2px hsl(0deg 0% 0% / 0.065), 0 4px 4px hsl(0deg 0% 0% / 0.065),
    0 8px 8px hsl(0deg 0% 0% / 0.065), 0 16px 16px hsl(0deg 0% 0% / 0.065);

  // Fonts
  --default-font-size: 2.4rem;
  --heading-font-size: 2.4rem;
  --small-font-size: 1.2rem;
}

html {
  font-size: 40%;

  @include respond(tablet) {
    font-size: 50%;
  }

  @include respond(laptop) {
    font-size: 55%;
  }

  @include respond(hugeScreen) {
    font-size: 70%;
  }
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: var(--default-font-size);
  background-color: var(--background);
  // background-image: var(--background-gradient);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
