@import "../styles/animations.scss";
@import "../styles/mixins.scss";

.logo {
  top: 6vh;
  left: 10vw;
  z-index: 100;
  position: absolute;
}

// Header Styles
.header {
  width: 100%;
  height: 120vh;
  position: relative;
  text-align: center;
  color: var(--white);
  background-color: var(--background);
  border-top: 0.01px solid transparent;

  .title {
    top: 35%;
    left: 50%;
    font-weight: 900;
    position: absolute;
    white-space: nowrap;
    font-size: var(--title-font-size);
    transform: translateY(-50%) translateX(-50%);

    .change {
      cursor: pointer;
      display: inline-block;
      transition: transform 0.3s;
      @include transformToGradient;
      background-image: url("../public/images/gradients/gradient-2.jpg") !important;

      &:hover {
        transform: translateY(-1rem);
      }
    }
  }

  .subtitle {
    top: 45%;
    left: 50%;
    font-weight: 300;
    font-size: 2.4rem;
    position: absolute;
    letter-spacing: 1rem;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
  }

  .godown {
    &_icon {
      top: 70%;
      font-size: 3rem;
      position: absolute;
      animation: toBelow 1.5s ease-in-out infinite;
    }
  }
}

// Feature section styles
.features {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  background-color: var(--background);

  .cards {
    display: flex;
    justify-content: space-around;
  }

  .btn {
    margin: 0 auto;
    margin-top: 5rem;
  }
}

// Why weeee
.whywe {
  height: 100%;
  padding-top: 13rem;
  padding-bottom: 20rem;
  background-color: var(--background);
  border-top: 0.1px solid transparent;

  &__container {
    width: 100%;
    text-align: center;
  }

  &__title {
    margin: 0 auto;
    color: var(--white);
    margin-bottom: 3rem;
    display: inline-block;
    font-size: var(--title-font-size);

    &_grad {
      @include transformToGradient;
    }
  }

  &__paragraph {
    width: 50%;
    margin: 0 auto;
    font-weight: 300;
    color: var(--white);
    font-size: var(--default-font-size);
  }
}

// Footer
.footer {
  width: 100%;
  height: 100%;
  padding: 10rem;
  position: relative;
  padding-top: 15rem;
  background-color: var(--footer);

  &__floater {
    // Postitioning
    top: -40%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    // Layout
    width: 60%;
    height: 20rem;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    align-items: center;
    border-radius: 1.2rem;
    justify-content: center;
    background-image: var(--love-kiss);

    &:hover &_content {
      top: 50%;
      bottom: 0;
      transform: translateY(-50%);
    }

    &:hover &_seen {
      transform: translateY(-300%);
    }

    &_content {
      font-size: 4rem;
      color: #f6fff8;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
    }

    &_unseen {
      bottom: -100%;
      font-size: 8rem;
      position: absolute;
    }
  }

  &__links {
    & > *:not(:last-child) {
      cursor: pointer;
      margin-bottom: 1.5rem;
    }

    &_link {
      font-weight: 700;
      color: var(--white);
      text-transform: uppercase;
      font-size: calc(var(--default-font-size) - 0.6rem);
    }
  }
}
